<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>向日葵服飾管理中心</title>

  <link rel="canonical" href="https://v5.getbootstrap.com/docs/5.0/examples/dashboard/">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    data-integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" data-crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    data-integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    data-crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    data-integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    data-crossorigin="anonymous"></script>

  <link rel="stylesheet" href="css/style.css">
</head>

<body>

   <!-- NAVIGATION -->
   <div th:insert="admin/base/nav::mynav"></div>

  <div class="container-fluid">
    <div class="row">
    
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div th:insert="admin/base/left::myleft"></div>
    </nav>

      <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    
        <canvas class="my-4 w-100" id="myChart" width="900" height="0">
        	
        </canvas>
		<div class="container">
		<h2>更新商品資料</h2>
		<form action="#" th:action="@{/updateProduct}" th:object="${product}" method="POST">
			<input type="hidden" th:field="*{id}"  ><br> 
			<input type="hidden" th:field="*{image}"  ><br>
			商品名稱:&emsp;<input type="text" th:field="*{name}" class="form-comtrol mb-4 col-4" ><br> 
			分類:&emsp;&emsp;&emsp;<input type="text" th:field="*{sort}" class="form-comtrol mb-4 col-4" ><br> 
			價錢:&emsp;&emsp;&emsp;<input type="text" th:field="*{price}" class="form-comtrol mb-4 col-4" ><br>
			商品描述:&emsp;<input type="text" th:field="*{describe}" class="form-comtrol mb-4 col-4" ><br>
			<button type="submit" class="btn btn-info col-2">確定更新</button><br><br>
		</form>
		<a th:href="@{/showAllProduct}" class="btn btn-info col-2">取消</a>
	</div>
        
      </main>
    </div>
  </div>


  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    data-integrity="sha384-DBjhmceckmzwrnMMrjI7BvG2FmRuxQVaTfFYHgfnrdfqMhxKt445b7j3KBQLolRl"
    data-crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.24.1/feather.min.js"
    data-integrity="sha384-EbSscX4STvYAC/DxHse8z5gEDaNiKAIGW+EpfzYTfQrgIlHywXXrM9SUIZ0BlyfF"
    data-crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
    data-integrity="sha384-i+dHPTzZw7YVZOx9lbH5l6lP74sLRtMtwN2XjVqjf3uAGAREAF4LMIUDTWEVs4LI"
    data-crossorigin="anonymous"></script>
  <script src="dashboard.js"></script>
</body>

</html>