<div class="hero" th:fragment="myad">
      <div class="hero-content d-flex container">
        <div class="left">
          <span class="subtitle">春季服飾現正優惠中</span>
          <h1 class="title">
            滿千
            <span class="color">送百</span>!<br />
            最低
            <span class="color">5折 </span>起<br />
            
          </h1>

          <h5>優惠期間即日起自103年2月28日</h5>
          
        </div>

        <div class="right">
          <img src="images/bg.png" alt="" />
        </div>
      </div>
    </div>