 <div class="container" th:fragment="myfooter">
      <div class="footer-container">
        <div class="footer-center">
          <h3>EXTRAS</h3>
          <a href="#">品牌</a>
          <a href="#">禮券</a>
          <a href="#">會員</a>
          <a href="#">特價商品</a>
        </div>
        <div class="footer-center">
          <h3>相關資訊</h3>
          <a href="#">關於我們</a>
          <a href="#">隱私政策</a>
          <a href="#">條款和條件</a>
          <a href="#">聯繫我們</a>
          <a href="#">地圖</a>
        </div>
        <div class="footer-center">
          <h3>聯繫我們</h3>
          <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
            台北市中正區
          </div>
          <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
            sunflower@gmail.com
          </div>
          <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
            (02)2311-1111
          </div>
          <div>
            <span>
              <i class="far fa-paper-plane"></i>
            </span>
            台灣
          </div>
        </div>
      </div>
    </div>
    </div>